* {
    padding: 0;
    margin: 0;
  
  }
  
  body {
    background-color: rgb(158, 155, 155);
    
  }
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  form > input {
    padding: 0.7em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .btn-danger {
    color: white;
    background: darkred;
  }
  .btn-primary {
    color: white;
    background: rgb(103, 81, 81);
    align-items: center;
  }
  .add-movie-btn {
    background: white;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
  }
    